<p>page-list-task works!</p>
<!-- <table class="table">
  <tbody>
    <tr>
      <app-task></app-task>
      <app-task></app-task>
    </tr>
  </tbody>
</table> -->

<!-- *ngIf="tasks" -->
<!--  -->
<!-- [task]="task" -->
<div>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of tasks">
        <app-task [task]="task"></app-task>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="container" *ngIf="!tasks">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->
